$svalbard: #EDF2FB;
$sognefjord: #D3E5CE;
$lofoten: #F8DCDF;

%default-font{
	font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

%title-font{
    font-family: "Gropled", sans-serif;
    font-weight: 700;
}