header.header
    .container
        .header__inner
            a.logo(href='/')
                img(draggable='false' src='./images/logo.svg' alt='Logo')
            .menu__btn
                #hamburger
                    span
                    span
                    span
                #cross
                    span
                    span
            nav.menu
                ul.menu__list
                    li.menu__list-item
                        a(href='./#tours-sect') Tours
                    li.menu__list-item
                        a(href='./#rules-sect') Rules
                    li.menu__list-item
                        a(href='./#gallery-sect') Gallery
                    li.menu__list-item
                        a(href='./#contact-sect') Contacts


